h1{
    color: blue;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: large;
    text-align: center;
}

#form{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(0, 255, 255, 0.121);
}
.class {
    color: blue;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: large;
    text-align: center;

}

